<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meizhuang.mapper.meizhuang.VersionMapper">

	<!--  按渠道获取 版本信息-->
	<select id="getVersionByChannel" resultType="com.meizhuang.entity.Version">
	      select *from version where os_name = #{osName} and app_id = #{appId}
	</select>
</mapper>  